{% extends 'template.html' %}
{% block header %}
<h1>{% block title %}Food Comparison{% endblock %}</h1>
{% endblock %}
{% block content %}
<div style="display: flex;">
    <div style="flex: 1; padding: 10px;">
        <h3><b>Product Name:</b></h3>
        <p>{{ product_name }}</p>
        <h3><b>Description:</b></h3>
        <p>{{ product_description }}</p>
        <h3><b>Nutritional Information:</b></h3>
        <table>
            <tr>
                <th>Nutrient</th>
                <th>Per 100g/mg</th>
            </tr>
            <tr>
                <td>Energy</td>
                <td>{{ product_energy }}</td>
            </tr>
            <tr>
                <td>Protein</td>
                <td>{{ product_protein }}</td>
            </tr>
            <tr>
                <td>Total Fat</td>
                <td>{{ product_total_fat }}</td>
            </tr>
            <tr>
                <td>Saturated Fat</td>
                <td>{{ product_saturated_fat }}</td>
            </tr>
            <tr>
                <td>Carbohydrates</td>
                <td>{{ product_carbohydrates }}</td>
            </tr>
            <tr>
                <td>Sugar</td>
                <td>{{ product_sugar }}</td>
            </tr>
            <tr>
                <td>Sodium</td>
                <td>{{ product_sodium }}</td>
            </tr>
        </table>
        <h3><b>Ingredients:</b></h3>
        <p>{{ product_ingredients }}</p>
        <h3><b>Warnings:</b></h3>
        {%for warning in warning_list%}
        <li>{{warning}}</li>
        {%endfor%}
        <h3><b>Positives for {{product_name}} in comparison to {{product2_name}}:</b></h3>
        {%for positive in product_positive_list%}
        <li>{{positive}}</li>
        {%endfor%}
    </div>
    <div style="flex: 1; padding: 10px;">
        <h3><b>Product Name:</b></h3>
        <p>{{ product2_name }}</p>
        <h3><b>Description:</b></h3>
        <p>{{ product2_description }}</p>
        <h3><b>Nutritional Information:</b></h3>
        <table>
            <tr>
                <th>Nutrient</th>
                <th>Per 100g/mg</th>
            </tr>
            <tr>
                <td>Energy</td>
                <td>{{ product2_energy }}</td>
            </tr>
            <tr>
                <td>Protein</td>
                <td>{{ product2_protein }}</td>
            </tr>
            <tr>
                <td>Total Fat</td>
                <td>{{ product2_total_fat }}</td>
            </tr>
            <tr>
                <td>Saturated Fat</td>
                <td>{{ product2_saturated_fat }}</td>
            </tr>
            <tr>
                <td>Carbohydrates</td>
                <td>{{ product2_carbohydrates }}</td>
            </tr>
            <tr>
                <td>Sugar</td>
                <td>{{ product2_sugar }}</td>
            </tr>
            <tr>
                <td>Sodium</td>
                <td>{{ product2_sodium }}</td>
            </tr>
        </table>
        <h3><b>Ingredients:</b></h3>
        <p>{{ product2_ingredients }}</p>
        <h3><b>Warnings:</b></h3>
        {%for warning in warning_list2%}
        <li>{{warning}}</li>
        {%endfor%}
        <h3><b>Positives for {{product2_name}} in comparison to {{product_name}}:</b></h3>
        {%for positive in product2_positive_list%}
        <li>{{positive}}</li>
        {%endfor%}
    </div>
</div>
{% endblock %}